<app-breadcrumbs></app-breadcrumbs>
<main class="main-page">
  <app-search></app-search>
  <button mat-raised-button
                type="submit"
                color="primary"
                class="main-page__button main-page__button--add"
                ><span class="btn-add"></span>
                Add course
                </button>
  <app-course-list></app-course-list>
  <button mat-raised-button
  type="submit"
  class="main-page__button main-page__button--load"
  (click)="onLoadCourse()"
  >
  Load more
  </button>
</main>
