
//colors
$white: #FFFFFF;
$dark-lime-green: #7f993a;
$medium-blue: #31B6DD;
$light-blue: #C0CEF5;
$light-grey: #F5F6FA;


//course-item
$font-main: 'Source Sans Pro', sans-serif;
$font-size-medium : 14px;
$font-size-small: 12px;
