<app-breadcrumbs></app-breadcrumbs>
<div class="container">
    <div class="add-form">
      <div class="add-form-content">
        <h2>{{ modeTitle }}</h2>
        <form [formGroup]="form">
          <div>
            <p class="info-form">
              Title: <span class="required">*required</span>
            </p>
            <input
              type="text"
              class="title form-control"
              required
              placeholder="Text input"
              name="title"
              formControlName="title"
            />
            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error-notification">
              <p class="error-text" *ngIf="title.errors?.required">Field should not be empty</p>
            </div>

          </div>
          <div>
            <p class="info-form">
              Description: <span class="required">*required</span>
            </p>
            <mat-form-field>
              <textarea matInput
                type="text"
                id="form"
                name="description"
                formControlName="description"
                required
                placeholder="Add decription"
                class="form-control"
              ></textarea>
            </mat-form-field>
            <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error-notification">
              <p class="error-text" *ngIf="description.errors?.required">Field should not be empty</p>
            </div>
          </div>
          <div class="info-field">
            <p class="info-form date">
              Duration: <span class="required">*required</span>
            </p>
            <app-course-duration-input name="duration" formControlName="duration"></app-course-duration-input>
          </div>
          <div class="info-field">
            <p class="info-form date">
              Date: <span class="required">*required</span>
            </p>
            <app-course-date-input name="date" formControlName="date"></app-course-date-input>
          </div>
          <div class="">
            <p class="info-form authors">
              Authors: <span class="required">*required</span>
            </p>
            <app-course-authors-input formControlName="authors"></app-course-authors-input>
          </div>
          <div class="info-buttons-container">
            <button mat-raised-button type="button" (click)="onCancel()" class="closeBtn">
              Cancel
            </button>
            <button mat-raised-button type="submit" (click)="onSave()" class="ml-2 acceptBtn">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
