<header class="header">
    <div class="header__inner">
        <a href="#" class="header__logo">
            <img src="" alt="логотип страницы видеопортала" class="header__logo-img">
        </a>
        <ul class="header__login">
            <li class="header__login-item">
                <a href="#" class="header__login-link">User login</a>
            </li>
            <li class="header__login-item">
                <a href="#" class="header__login-link">Log out</a>
            </li>
        </ul>
    </div>
</header>