@import  "../../../sass/variables";


.header {
  background-color: #414552;
    padding: 25px 0 25px 0;
    font-family: $font-main;
    font-size: 18px;
    font-weight: 600;

  &__login {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 250px;
  }

  &__inner {
    width: calc(100% - 150px);
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  & a {
    align-items: center;
    display: flex;
    color: $white;
    text-decoration: none;
  }

  &__logo-img {
    margin-right: 8px;
  }

  &__login-link {
    margin-left: 8px;
    font-size: $font-size-medium;
    color: $white;

  }
  &__login-img path {
    fill: $white;
}

  &__login-item {
    display: flex;
    align-items: center;
  }
}






// .header__inner {
//     width: calc(100% - 150px);
//     margin: auto;
//     display: flex;
//     justify-content: space-between;
// }

// .header a {
//     align-items: center;
//     display: flex;
//     color: $white;
//     text-decoration: none;
// }
// .header {
//     background-color: #414552;
//     padding: 25px 0 25px 0;
//     font-family: $font-main;
//     font-size: 18px;
//     font-weight: 600;
// }

// .header__login {
//     display: flex;
//     justify-content: space-between;
//     margin: 0;
//     padding: 0;
//     list-style: none;
//     width: 250px;
// }

// .header__logo-img {
//     margin-right: 8px;
// }
