<li border 
    [course]="course"
    class="course__item"
    [ngClass]="{ 'rated': course.isRated }"
>
  <div class="course__header">
    <h2 class="course__title">{{ course.title | uppercase }} 
      <span *ngIf="course.isRated">
        <svg height="25" width="23" class="course__rating" data-rating="1">
          <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
        </svg>
      </span>
    </h2>
    <div class="course__info">
      <p class="course__date-info">
        <span class="course__duration">{{ course.duration | duration }}</span>
        <span class="course__date">{{ course.date | date: "d MMM, y" }}</span>
      </p>
    </div>
  </div>
  <div class="course__content">
    <p class="course__description">{{ course.description }}</p>
    <div class="course__controls">
      <button mat-raised-button
      color="primary"
      class="course__button course__button--edit"
      (click)="onEditHandler($event)"
      >Edit
      </button>

      <button mat-raised-button
      type="submit"
      color="primary"
      class="course__button course__button--delete"
      (click)="onDeleteHandler($event)" 
      >Delete
    </button>
  </div>
</div>
</li>
